{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="login welcome box container-sm">
  <h2 class="header text-teal ">Log into Wanderlist</h2>
  <form action="" method="POST" class="small-form">
    {{ login_form.csrf_token }}
    <div class="form-group">
      {{ render_field(login_form.email, class_="form-control", placeholder="Email") }}
    </div>
    <div class="form-group">
      {{ render_field(login_form.password, class_="form-control", placeholder="Password") }}
    </div>
    <div class="form-group">
      {{render_field(login_form.login, class_="btn btn-block btn-teal", style="height: 45px;")}}
    </div>
    <a class="text-teal" href="{{ url_for('auth.reset_password_request') }}">Forgot your Password?</a>
  </form>
</div>  
{% endblock %}
