{% extends "layout.html" %}
{% from "includes/_formhelpers.html" import render_field %}

{% block body %}
<div class="box container-md welcome">
  <h1 class="text-teal">Reset Password</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      <div class="text-white">Please enter your email to recieve a password reset email.</div><br>
      {{ render_field(form.email, class="form-control input-lg") }}
      {% for error in form.email.errors %}
      <span class="text-error">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ render_field(form.submit, class="btn btn-primary btn-teal") }}</p>
  </form>
</div>
{% endblock %}