{% extends "layout.html" %}
{% from "includes/_formhelpers.html" import render_field %}

{% block body %}
<div class="box container-md welcome">
  <h1 class="text-teal">Reset Your Password</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      <div class="text-white">New password</div>
      {{ render_field(form.password, class="form-control") }}
      {% for error in form.password.errors %}
      <span class="text-error">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <div class="text-white">Repeat new password</div>
      {{ render_field(form.password_repeat, class="form-control") }}
      {% for error in form.password_repeat.errors %}
      <span class="text-error">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ render_field(form.submit, class="btn btn-primary btn-teal") }}</p>
  </form>
</div>
{% endblock %}