@import "variables.less";
@import "overrides.less";

/////////////////////////
//       GENERAL       //
/////////////////////////

body {
    background-color: @navy;
    padding-top: 65px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid @white;
}
a:hover {
   text-decoration: none; 
}

// TEXT
.text-white { color: @white !important; }
.text-teal { color: @teal !important; }
.text-red { color: @red !important; }

.text-lg { font-size: 3rem; }
.text-md { font-size: 1em; }
.text-sm { font-size: .75em; }

.text-underline:hover { text-decoration: underline !important; }

.text-error {
    font-style: italic;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: @red;
}

// BUTTONS, TODO: can start building mixins to this since they're all similar
.btn-teal {
    color: @white !important;
    background-color: @teal;
    border-color: @teal;

    &:hover,
    &:focus {
        background-color: darken(@teal, 5%);
    }
    &:focus {
        box-shadow: @teal-shadow;
    }
    &:disabled {
        background-color: @teal;
    }
}

.btn-outline-teal {
    color: @teal;
    background-color: transparent;
    border-color: @teal;
    margin-bottom: 2em;

    &:hover,
    &:focus {
        color: @white;
        background-color: @teal;
    }
    &:focus {
        box-shadow: @teal-shadow;
    }
}

.btn-wide {
    width: 6em;
}

.btn-tertiary {
    color: @white !important;
    border-color: @white;
    background-color: transparent;

    &:hover {
        color: @black !important;
        background-color: @white;
    }
    &:focus {
        box-shadow: @white-shadow;
    } 
}

//INPUTS

// LABELS
.label {
    color: @teal !important;
    font-size: 90%;
    font-weight: 700; 
    padding: .3em .6em;
    border: 1px solid @teal;
    border-radius: 1em;
    display: inline-block;
    margin: 0 2px 6px 0;
    background-color: @navy !important;
}

// MODIFIERS
.hide {
    position: absolute !important; // This method of hiding is good for SEO
    left: -9999px !important;
}
.transparent {
    opacity: 0;
    transition: opacity 2000ms;
}
.fade-in { opacity: 1; }

.centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}

/////////////////////////
//       NAVBAR        //
/////////////////////////

//Don't show bottom bar if navbar in compressed mode
@media (max-width: @md) {
    .nav-item.active > a {
        border-bottom: none !important;
    }
}

//Behavior of core un-collapsed navigation bar
.wander-nav {
    background-color: @navy;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    top: 0;
    position: fixed;
    right:0;
    left: 0;
    z-index: 1030;
}
.nav-item {
    letter-spacing: 1px; 
    font-weight: 400; 
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;

    a { color: @white; }
    a:hover,
    a:focus {
        color: @white;
        background-color: transparent !important;
    }
}   
#nav-pro-pic > a:hover {border: none !important;}
.nav-item.active > a {
    color: @teal;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}
// Behavior of hamburger collapse button
.navbar-toggler {
    padding: .4rem .4rem;

    &:focus {
        outline: 5px auto @teal;
    }
}
.navbar-toggler.collapsed:focus {
    outline: none !important;
}
.logo {
    color: @teal;
    letter-spacing: 4px; 
    font-size: 20px;
    font-weight: 600;
}
.icon {
    margin-bottom: 8px;
    margin-right: 6px;
}


/////////////////////////
//      REGISTER       //
/////////////////////////

@media (max-width: @lg) {
    h3 {
        font-size: 1.5rem;
    }
    .icon-holder .fas {
        font-size: 2.75em;
    }
    .bullet-text {
        font-size: 1.03rem !important;
    }
}

/////////////////////////
//       LOGIN         //
/////////////////////////

.login-box {
    width: 440px;
    margin: 5rem auto 0;
}

@media (max-width: @xs) {
    .login-box {
        width: 320px;
    }
}

.remember-me {
    margin-left: 20px;
}

/////////////////////////
//       ADMIN         //
/////////////////////////
.admin{
    .admin.box {
        margin: 0.75rem !important;
        .header {margin-bottom: 0px !important;}
    }
    .content{margin-left: 85px;}
    .page-header {
        margin-bottom: 2rem;
    }

    .header {
        color: @white;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: .05em;
        .sub-header {
            font-weight: 300;
            font-size: .6em;
            letter-spacing: .05em;
        }
    }
    .no-records-found td {color: @white;}

    thead {
        background-color: fade(@lightnavy, 70%);
    }
    .table-header {
        font-size: 1.1em;
        letter-spacing: 1px;
        padding: 0.25rem 0 !important;
    }

    tbody tr:hover {
        background-color: @lightnavy !important;
        cursor: pointer !important;
    }
}

#createDestMap {
    height: 300px;
    margin-bottom: 1em;
}

//Destinations table
.pagination-info {display: none;}
.page-list {display: none !important;}
.pagination > .page-item {
    .page-link {
        background-color: @lightnavy;
        color: @white;
        &:hover {background-color: @navy; }
        &:focus {box-shadow: @teal-shadow; }
    }
    &.active > .page-link {
        background-color: @teal;
        border-color: @white;
    }
}

//Progress bar for destination creation
.progressbar {
	overflow: hidden;
	counter-reset: step;
	width: 60%;
    margin: 30px auto;
    padding: 0px;
}
.progressbar li {
	list-style-type: none;
	color: @white;
	width: 20%;
	float: left;
	position: relative;
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 25px;
	line-height: 25px;
	display: block;
	color: @black;
	background: @white;
	border-radius: 50%;
	margin: 0 auto 5px auto;
}
.progressbar li:after {
	content: '';
	width: 100%;
	height: 3px;
	background: @white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
}
.progressbar li:first-child:after {
	content: none; 
}
.progressbar li.active:before,  .progressbar li.active:after{
	background: @teal;
    color: @white;
}

/////////////////////////////////
//            BOXES            //
/////////////////////////////////

.box-group {
    margin: 16px auto;
    text-align: left;
}

.header-lg {
    text-align: center;
    color: @teal;
    letter-spacing: 1px; 
    font-size: 48px; 
    font-family: 'Roboto', sans-serif;
}

.box {
    border: 0.05rem solid fade(@lightnavy, 95%);
    background: fade(@lightnavy, 50%);
    padding: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    
    .box-header-text {
        font-size: 20px; 
        font-weight: 400; 
        margin-bottom: 8px; 
        color: @white;
    }
    .three-wide { grid-template-columns: repeat(3, 1fr); }
    .five-wide { grid-template-columns: repeat(5, 1fr); }

    .item-group {
        display: grid; 
        grid-gap: 8px;
        align-items: center; 

        .item {
            position: relative;
            text-align: center;
            height: 240px; 
            background-position: center center;
            background-size: auto 240px;
            position: relative;

            .item-header {
                opacity: .75;
                width: auto;
                position: relative;
                height: 30px;
                top: 0px;
                margin: 9px 9px 0px;
            }

            .item-mid {
                height: 162px;
                display: grid;
                cursor: pointer;
                align-items: center;

                .item-title {
                    letter-spacing: .8px; 
                    color: @white;
                    margin: 0px 4px;
                    font-size: 19px;
                }
                .item-subtitle {
                    letter-spacing: .8px; 
                    color: @white;
                    margin: 0px 4px;
                    font-size: 15px;
                    opacity: .95;
                    align-self: start;
                }
                
            }

            .item-footer {
                opacity: .75;
                width: auto; 
                position: relative; 
                height: 30px; 
                bottom: 0px; 
                margin: 0px 9px 9px;
            }
        }
    }
    .box-footer {
        margin-top: 4px;
        
        .footer-text {
            color: @teal;
            font-size: 16px;
        }
    }

}

/////////////////////////////////
//            SEARCH           //
/////////////////////////////////

.search {
    margin: 0px auto 16px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 16px;

    .search-input {
        background-color: @navy;
        border-color: @teal;
        color: @teal;
        cursor: text;

        &::placeholder {
            color: @teal;
        }
        &:focus {
            box-shadow: @teal-shadow;
            &::-webkit-input-placeholder { color:transparent; }
            &:-moz-placeholder { color:transparent; }
        }

        input {
            background-color: transparent;
            border: 0px;

            &::placeholder {
                color: @teal;
            }
            
            &:focus {
                outline: 0px;
                &::-webkit-input-placeholder { color:transparent; }
                &:-moz-placeholder { color:transparent; }
            }
        }
    } 

    .search-btn {
        background-color: @navy;
        border-color: @teal;   
        grid-column: 2;
        grid-row: 1 / span 2;

        &:hover {
            background-color: darken(@navy, 1.5%);
        }
        &:focus {
            box-shadow: @teal-shadow;
        }
    } 
}


.dropdown-menu {
    margin: 10px 0px 0px;
    min-width: 200px;

    .active {
        a {
            background-color: darken(@teal, 5%);
            color: @white;
        }
    }
}

@media (min-width: @md) {
    .modal-lg {
        max-width: 900px !important;
    }
}
.modal-content {
    background-color: @navy !important;
    overflow: visible;
}
.feat-dest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    grid-gap: 16px;
    position: relative;

    #feat-dest-img {
        max-height: 450px;
        width: 100%;
        opacity: .75;
    }

    .right {
        height: 100%;
        width: 100%;
        margin-top: 0px;

        .header {
            color: @teal;
            font-weight: 700;
            margin: 0px 0px 10px;
        }

        .body {
            color: fadeout(@white, 10%);
            font-size: 14px;
        }
        .tags {
            font-size: 14px;
        }
    }
}

.no-results {
    color: @teal;
    font-size: 20px;
    font-weight: 500;
}

////////////////////////////////
//           PROFILE          //
////////////////////////////////

.circle-group {
    display: -webkit-flex;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}
.circle-with-text {
    display: -webkit-flex;
    display: flex; 
    flex-direction: column; 
    text-align: center;
}
.circle {
    text-align: center; 
    vertical-align: middle; 
    border: 5px solid @teal;
    border-radius: 50%; 
    margin: 10px; 
    height: 140px; 
    width: 140px;
    line-height: 140px;
}
.circle.big {
    height: 160px;
    width: 160px;
    line-height: 160px;
}
.stat {
    line-height: inherit; 
    color: @white; 
    font-size: 48px;
}


.profile-container {
    display: grid;
    grid-template-columns: 134px 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "picture title"
        "picture about";
    grid-gap: 8px 16px;

    .pro-pic-container {
        grid-area: picture;
    }
    .title {
        grid-area: title;
        font-size: 28px; 
        font-weight: 300; 
        color: @teal;
        border-bottom: 1px solid @teal;
    }
    .about {
        grid-area: about;
        color: @white; 
        font-size: 16px;
    }
}
.pro-pic {
    border: 3px solid @teal;
    border-radius: 50%;
}
.mini-pro-pic {
    border: 2px solid @teal;
    border-radius: 50%;
}

/////////////////////////////
//           HOME          //
/////////////////////////////

.header{
    color: fade(@white, 90%);
    margin: 0px 0px 24px;
    font-weight: 600;
    letter-spacing: .05em;
}

.home-dest-container {
    width: 617.5px;
}

@media (max-width: @sm) {
    .home-dest-container {
        width: 260px;
    }
    .box .three-wide {
        grid-template-columns: none;
    }
}

.welcome {
    margin: 45px auto 0px;
    font-family: 'Roboto', sans-serif;
    
    .bullet-group {
        width: 80%;
        margin: 36px auto 0;
    }
    .bullet {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        font-size: 18px;

        .icon-holder {
            color: lighten(@lightnavy, 15%);
            height: 54px;
            width: 54px;
        }
        .bullet-text {
            margin-left: 20px;
            font-size: 1.25rem;
            font-weight: 600;
            letter-spacing: .075em;
            color: @teal;
        }
    }
}

.trav-input {
    background-color: @navy !important;
    border-color: @teal !important;
    color: @white !important;
    border-radius: 12px;
    margin-right: 6px;

    //Deal with Chrome auofilling username
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        -webkit-transition: none;
                transition: none;
        -webkit-box-shadow: 0 0 0 30px @navy inset;
                box-shadow: 0 0 0 30px @navy inset;
        -webkit-text-fill-color: @white !important;      
    }

    &:focus {
        outline: 0;
        -webkit-box-shadow: @teal-shadow;
                box-shadow: @teal-shadow; 
    }

    &::placeholder {
        color: fade(@white, 85%);
    }
}

.inline-input-group {
    display: flex;
    flex-direction: row;

    input:not(:last-of-type) {
        margin-right: 8px;
    }
}
.signup-form {
    margin-bottom: 16px;
    &:focus {
        -webkit-box-shadow: @teal-shadow;
                box-shadow: @teal-shadow; 
    }
}
.spinner {
    margin: 0 auto 0;
    width: 70px;
    text-align: center;

    div {
        width: 18px;
        height: 18px;
        background-color: @teal;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
  
    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
  
    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
  
    @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
    }
  
    @keyframes sk-bouncedelay {
        0%, 80%, 100% { 
            -webkit-transform: scale(0);
            transform: scale(0);
        } 40% { 
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }
}


///////////////////////////
//         ICONS         //
///////////////////////////

.fa-star {
    float: right;
    color: @white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-check {
    float: left;
    color: @white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-pencil-alt {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: @white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-search {
    color: @teal;
    cursor: pointer;
}
.exp-full::before {
    color: @limegreen;
}
.star-full::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    color: @yellow;  
}
.item-footer:hover .fa-pencil-alt {
    display: block;
}
.fa-star:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    color: @yellow;
}
.fa-star:hover {
    transform: scale(1.175);
}
.fa-check:hover {
    color: @limegreen;
    transform: scale(1.175);
}
.fa-pencil-alt:hover {
    color: @brown;
    transform: scale(1.175);
}
.fa-x-lg {
    font-size: 2.33em;
}
.fa-times-circle {
    position: absolute;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    background-color: @navy;
    cursor: pointer;
}