{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}

<div class="panel panel-default h-v-center" style="width: 450px">
    <div class="panel-heading">Register</div>
    <div class="panel-body">
        <form method="POST" action="">
            <div class="form-group">
                {{render_field(form.username, class_="form-control")}}
                {{render_field(form.email, class_="form-control")}}
                {{render_field(form.firstName, class_="form-control")}}
                {{render_field(form.lastName, class_="form-control")}}                
                {{render_field(form.password, class_="form-control")}}
                {{render_field(form.confirm, class_="form-control")}}
            </div>
            <center><input type="submit" class="btn btn-primary btn-lg" value="Create"></center>
        </form>
    </div>
</div>
{% endblock %}
