/////////////////////////
//      VARIABLES      //
/////////////////////////

@navy: rgb(32, 41, 51);
@lightnavy: rgb(51, 64, 85);
@white: rgb(250, 250, 250);
@black: rgb(39, 39, 39);
@teal: rgb(70, 188, 194); 
@limegreen: rgb(123, 255, 47);
@yellow: rgb(255, 255, 81);  
@brown: rgb(205,133,63);


// Tags
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: @navy;
    padding-top: 65px;
}
a:link,
a:hover,
a:focus {
    text-decoration: none;
}
.wide {
    width: 900px !important;
}
.extra-wide {
    width: 1075px !important;
}

/* BOOTSTRAP OVERRIDES */
.container {
    width: 95%;
}
.navbar-inverse {
    background-color: @navy;
    border: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.navbar-inverse .navbar-nav > li > a {
    color: @white;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus  {
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a > section,
.navbar-inverse .navbar-nav > .active > a:hover > section,
.navbar-inverse .navbar-nav > .active > a:focus > section {
    color: @teal;
    border-bottom: 3px solid;
    padding-bottom: 2px;
}
.nav-justified {
    border-collapse:separate;
    border-spacing:2px;
 }
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


.logo {
    color: @teal;
    letter-spacing: 4px; 
    font-weight: 600; 
    font-size: 20px;
}
.icon {
    float:left; 
    padding-right: 8px;
}
.nav-item {
    letter-spacing: 1px; 
    font-weight: 400; 
    font-size: 17px;
}
.large-header {
    color: @teal;
    letter-spacing: 1px; 
    font-size: 48px; 
    font-family: 'Roboto', sans-serif;
}
.header-container {
    padding-bottom: 6px;
    text-align: center;
}
.center-text {
    text-align: center;
}
.label {
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: @teal;
    text-align: center;
    white-space: nowrap;
    border-radius: 1em;
    border: 1px solid @teal;
}
.label-small {
    font-size: 75%;
}
.label-lg {
    font-size: 90%;
}

///////////////////////////
//         ICONS         //
///////////////////////////

.fa-star-o {
    float: right;
    color: @white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-check {
    float: left;
    color: @white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-pencil {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: @white;
    cursor: pointer;
}
.fa-search {
    color: @teal;
    cursor: pointer;
}
.exp-full::before {
    color: @limegreen;
}
.star-full::before {
    content: "\f005";
    color: @yellow;  
}
.item-footer:hover .fa-pencil {
    display: block;
}
.fa-star-o:hover::before {
    content: "\f005";
    color: @yellow;
}
.fa-star-o:hover {
    transform: scale(1.175);
}
.fa-check:hover {
    color: @limegreen;
    transform: scale(1.175);
}
.fa-pencil:hover {
    color: @brown;
    transform: scale(1.175);
}

/////////////////////////////////
//           EXPLORE           //
/////////////////////////////////

.box-group {
    margin: 16px auto;
    width: 650px;

    .box {
        border: 1px solid fade(@lightnavy, 95%);
        background: fade(@lightnavy, 50%);
        border-radius: 6px; 
        padding: 16px;
        margin-bottom: 16px;
        overflow: hidden;

        .box-header-text {
            font-size: 20px; 
            font-weight: 300; 
            margin-bottom: 8px; 
            color: @white;
        }

        .three-wide {
            grid-template-columns: repeat(3, 1fr);
        }

        .five-wide {
            grid-template-columns: repeat(5, 1fr);
        }

        .item-group {
            display: grid; 
            grid-gap: 8px;
            align-items: center; 

            .item {
                position: relative;
                text-align: center;
                height: 240px; 
                width: 200px; 
                background-position: center center;
                background-size: auto 240px;
                position: relative;

                .item-header {
                    opacity: .75;
                    width: auto;
                    position: relative;
                    height: 30px;
                    top: 0px;
                    margin: 9px 9px 0px;
                }

                .item-mid {
                    height: 162px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .item-title {
                        letter-spacing: 0.8px; 
                        color: @white;
                        margin: 0px 4px;
                        font-size: 19px;
                    }
                    
                }

                .item-footer {
                    opacity: .75;
                    width: auto; 
                    position: relative; 
                    height: 30px; 
                    bottom: 0px; 
                    margin: 0px 9px 9px;
                }
            }
        }

        .footer-text {
            color: @teal;
            margin-top: 6px;
            font-size: 16px;
        }
    }
}

/////////////////////////////////
//            SEARCH           //
/////////////////////////////////

.search {
    margin: 0 auto 16px;

    .search-input {
        background-color: @navy;
        border-color: @teal;
        color: @teal;
        cursor: text;
    
        ::placeholder {
            color: @teal;
        }
    
        input {
            background-color: transparent;
            outline: none;
            border-width: 0px;
    
            ::placeholder {
                color: @teal;
            }
        }
    
        input:focus::-webkit-input-placeholder {
            color: transparent;
        }
    } 

    .search-btn,
    .search-btn:hover,
    .search-btn:active,
    .search-btn:focus {
    background-color:@navy !important;
    border-color: @teal !important;   
}   
}

.no-results {
    color: @teal;
    margin: 0px auto;
    font-size: 20px;
    font-weight: 500;
}

////////////////////////////////
//           PROFILE          //
////////////////////////////////

.circle-group {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;

        .circle-with-text {
            display: flex; 
        flex-direction: column; 
        text-align: center;

        .circle {
            text-align: center; 
            vertical-align: middle; 
            border: 5px solid @teal;
            border-radius: 50%; 
            margin: 10px; 
            height: 160px; 
            width: 160px;

            .stat-number {
                line-height: 160px; 
                color: @white; 
                font-size: 48px;
            }
        }

        .stat-name {
            color: @white; 
            font-size: 16px;
        }
    }
}

.pill-element {
    background-color: rgba(51, 64, 85, 0.5);
    border-spacing: 5px;
    border-radius: 4px;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    background-color: @teal;
    cursor: pointer;    
}
.nav > li > a {
    color: @white;
    text-decoration: none;
}
.nav > li > a:focus, 
.nav > li > a:hover {
    background-color: rgba(51, 64, 85, 0.99);
    cursor: pointer; 
}
#map {
    width: 100%; 
    height: 550px;
}


//starting at approx 475 lines