/////////////////////////
//      VARIABLES      //
/////////////////////////

@navy: rgb(32,41,51);
@lightnavy: rgb(51,64,85);
@white: rgb(250,250,250);
@black: rgb(39,39,39);
@teal: rgb(70,188,194); 
@limegreen: rgb(123,255,47);
@yellow: rgb(255,255,81);  
@brown: rgb(205,133,63);

/////////////////////////
//       GENERAL       //
/////////////////////////
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: @navy;
    padding-top: 65px;
}
.footer {
    position: absolute;
    bottom: 0;
    margin-top: 24px;
    width:100%; 
    height: 45px; 
    padding: 12px;
    background: @lightnavy;
}
.standard-text {
    color: @white; 
    font-size: 16px;
}
.link {
    color: @teal;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: darken(@teal, 15%);
    }
}
#logout {
    margin-top: 12px;
}
a:link,
a:hover,
a:focus {
    text-decoration: none;
}
.wide-container {
    width: 900px !important;
}
.extra-wide-container {
    width: 1075px !important;
    margin: 0px auto;
}
.container {
    width: 90%;
}
.trav-nav {
    background-color: @navy;
    border: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    top: 0;
    position: fixed;
    right:0;
    left: 0;
    z-index: 1030;

    .navbar-nav > .active > a > section {
        color: @teal;
        border-bottom: 3px solid;
        padding-bottom: 2px;
    }

    .nav-item {
        letter-spacing: 1px; 
        font-weight: 400; 
        font-size: 17px;

        &:hover {
            background:  transparent;
        }
    }   
}
.nav-justified {
    border-collapse:separate;
    border-spacing:2px;
 }
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0px 1px 0px rgba(255,255,255,.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0px 0px 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
.teal {
    color: @teal;
}
.caption {
    text-align: center;
    width: 75%;
    margin: 5px auto;
    color: @white;
}
.btn-teal {
    color: @white;
    background-color: @teal;
    border-color: @navy;

    &:hover,
    &:focus {
        color: @white;
        background-color: darken(@teal, 5%);
    }
}
.logo {
    color: @teal;
    letter-spacing: 4px; 
    font-weight: 600; 
    font-size: 20px;
}
.icon {
    float:left; 
    padding-right: 8px;
}
.large-header {
    color: @teal;
    letter-spacing: 1px; 
    font-size: 48px; 
    font-family: 'Roboto', sans-serif;
}
.header-container {
    padding-bottom: 6px;
    text-align: center;
}
.center-text {
    text-align: center;
}
.label {
    font-weight: 700;
    line-height: 1;
    color: @teal;
    text-align: center;
    white-space: nowrap;
    padding: .3em .6em;
    border: 1px solid @teal;
    border-radius: 1em;
    display: inline;
    margin-right: 6px;

    &:hover {
        color: @teal !important;
    }
}
.label-small {
    font-size: 75%;
}
.label-lg {
    font-size: 90%;
}
.hide {
    position: absolute !important;
    left: -9999px !important;
}
///////////////////////////
//         ICONS         //
///////////////////////////

.fa-star {
    float: right;
    color: @white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-check {
    float: left;
    color: @white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-pencil-alt {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: @white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-search,
.fa-cog,
.fa-filter {
    color: @teal;
    cursor: pointer;
}
.loading-icon {
    color: @teal;
    font-size: 30px;
}
.exp-full::before {
    color: @limegreen;
}
.star-full::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    color: @yellow;  
}
.item-footer:hover .fa-pencil-alt {
    display: block;
}
.fa-star:hover::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    color: @yellow;
}
.fa-star:hover {
    transform: scale(1.175);
}
.fa-check:hover {
    color: @limegreen;
    transform: scale(1.175);
}
.fa-pencil-alt:hover {
    color: @brown;
    transform: scale(1.175);
}
.fa-x-lg {
    font-size: 2.33em;
}

/////////////////////////////////
//            BOXES            //
/////////////////////////////////

.box-group {
    margin: 16px auto;
    width: 650px;
}

.box {
    border: 1px solid fade(@lightnavy, 95%);
    background: fade(@lightnavy, 50%);
    border-radius: 6px; 
    padding: 16px;
    margin-bottom: 16px;
    overflow: hidden;

    .label {
        transition: all .3s ease-in-out;       
        &:hover {
            font-size: 100%;
        }
    }

    .box-header-text {
        font-size: 20px; 
        font-weight: 300; 
        margin-bottom: 8px; 
        color: @white;
    }

    .three-wide {
        grid-template-columns: repeat(3, 1fr);
    }

    .five-wide {
        grid-template-columns: repeat(5, 1fr);
    }

    .item-group {
        display: grid; 
        grid-gap: 8px;
        align-items: center; 

        .item {
            position: relative;
            text-align: center;
            height: 240px; 
            width: 200px; 
            background-position: center center;
            background-size: auto 240px;
            position: relative;

            .item-header {
                opacity: .75;
                width: auto;
                position: relative;
                height: 30px;
                top: 0px;
                margin: 9px 9px 0px;
            }

            .item-mid {
                height: 162px;
                display: grid;
                cursor: pointer;
                align-items: center;

                .item-title {
                    letter-spacing: .8px; 
                    color: @white;
                    margin: 0px 4px;
                    font-size: 19px;
                    align-self: end;
                }
                .item-subtitle {
                    letter-spacing: .8px; 
                    color: @white;
                    margin: 0px 4px;
                    font-size: 15px;
                    opacity: .95;
                    align-self: start;
                }
                
            }

            .item-footer {
                opacity: .75;
                width: auto; 
                position: relative; 
                height: 30px; 
                bottom: 0px; 
                margin: 0px 9px 9px;
            }
        }
    }

    .footer-text {
        color: @teal;
        margin-top: 6px;
        font-size: 16px;
    }
}

/////////////////////////////////
//            SEARCH           //
/////////////////////////////////

.search {
    margin: 0px auto 16px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 16px;

    .search-input {
        background-color: @navy;
        border-color: @teal;
        color: @teal;
        cursor: text;

        &::placeholder {
            color: @teal;
        }
        &:focus {
            &::-webkit-input-placeholder { color:transparent; }
            &:-moz-placeholder { color:transparent; }
        }

        input {
            background-color: transparent;
            border: 0px;

            &::placeholder {
                color: @teal;
            }
            
            &:focus {
                outline: 0px;
                &::-webkit-input-placeholder { color:transparent; }
                &:-moz-placeholder { color:transparent; }
            }
        }
    } 

    .search-btn {
        background-color: @navy;
        border-color: @teal;   
        grid-column: 2;
        grid-row: 1 / span 2;
        &:hover {
            background-color: darken(@navy, 1.5%);
        }
    } 

    .dropdown-menu {
        margin: 10px 0px 0px;
        min-width: 200px;
    
        .active {
            a {
                background-color: darken(@teal, 5%);
            }
        }
    }
}

.feat-dest-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    grid-gap: 16px;

    #feat-dest-img {
        width: 500px;
        opacity: .75;
    }

    .right {
        height: 100%;
        width: 500px;
        margin-top: 0px;

        .header {
            color: @teal;
            font-weight: 700;
            margin: 0px 0px 10px;
        }

        .body {
            color: fadeout(@white, 10%);
        }
    }
}

.no-results {
    color: @teal;
    font-size: 20px;
    font-weight: 500;
}

////////////////////////////////
//           PROFILE          //
////////////////////////////////

.circle-group {
    display: -webkit-flex;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;

    .circle-with-text {
        display: -webkit-flex;
        display: flex; 
        flex-direction: column; 
        text-align: center;

        .circle {
            text-align: center; 
            vertical-align: middle; 
            border: 5px solid @teal;
            border-radius: 50%; 
            margin: 10px; 
            height: 160px; 
            width: 160px;

            .stat-number {
                line-height: 160px; 
                color: @white; 
                font-size: 48px;
            }
        }
    }
}

.pill-element {
    background-color: rgba(51,64,85,.5);
    border-spacing: 5px;
    border-radius: 4px;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    background-color: @teal;
    cursor: pointer;    
}
.nav > li > a {
    color: @white;
    text-decoration: none;
}
.nav > li > a:focus, 
.nav > li > a:hover {
    background-color: rgba(51,64,85,.99);
    cursor: pointer; 
}
#map {
    width: 100%; 
    height: 550px;
}
.left {
    float: left;
}
.right {
    float: right;
}

/////////////////////////////
//           HOME          //
/////////////////////////////

.welcome {
    margin: 45px auto 0px;
    width: 75%;
    font-family: 'Roboto', sans-serif;

    .header{
        color: fade(@white, 90%);
        margin: 0px 0px 24px;
        font-weight: 600;
        letter-spacing: .05em;
    }

    section {
        float: left;
        width: 50%;
        padding: 8px;
        
        .bullet-group {
            width: 400px;
            margin: 36px auto 0;
        }

        .bullet {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            font-size: 18px;

            .icon-holder {
                color: lighten(@lightnavy, 15%);
                height: 54px;
                width: 54px;
            }
            .bullet-text {
                margin-left: 20px;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: .075em;
                color: @teal;
            }
        }
    }

    .right {
        float: right;
    }
}

.large {
    font-size: 42px;
}

.trav-input {
    background-color: @navy;
    border-color: @teal;
    color: @white;
    border-radius: 12px;
    margin-right: 6px;

    &:focus {
        border-color: @teal;
        outline: 0;
        -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,.075), 0px 0px 8px fade(@teal, 60%);
                box-shadow: inset 0px 1px 1px rgba(0,0,0,.075), 0px 0px 8px fade(@teal, 60%); 
    }

    &::placeholder {
        color: fade(@white, 85%);
    }
}

.inline-input-group {
    width: 100%;
    display: flex;
    flex-direction: row;

    input:first-of-type {
        margin-right: 8px;
    }
}
.login-form {
    padding: 16px;
    margin-right: -15px;
}
.signup-form {
    margin-bottom: 16px;
}

