/* //////////////////////// */
/* DESTINATION BOXES STYLES */
/* //////////////////////// */

/* Contains three destinations, the title, and footer */
.dest-group-box {
    border: 1px solid var(--lightnavy);
    background: rgba(51, 64, 85, 0.5);
    border-radius: 6px; 
    width: 650px;
    padding: 16px 16px 8px;
    margin: 0 auto 16px;
}
.dest-group-box-title {
    font-size: 20px; 
    font-weight: 300; 
    margin-bottom: 8px; 
    color: var(--white)
}
/* This contains only the three destinations */
.dest-group {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    align-items: center; 
}
/* This is a single destination and includes the image, favorite, destination name */
.dest {
    width: 200px; 
    height: 240px;
}
.dest-image {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: 240px; 
    width: 200px; 
    background-position: center center;
    background-size: auto 240px;
    position: relative;
}
/* Intermediary container for single destination */
.dest-container {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    overflow: hidden; 
    height: 100%; 
    width: 100%; 
    position: relative; 
}
/* Where the favorite star and the been there check are */
.dest-box-header {
    opacity: .75;
    width: auto;
    position: relative;
    height: 30px;
    top: 0px;
    margin: 9px 9px 0px;
}
.dest-box-mid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dest-box-name {
    font-weight: 300; 
    letter-spacing: 0.8px; 
    color: var(--white);
    text-align: center; 
    margin: 0px 4px;
    font-size: 19px;
}
.dest-box-footer {
    opacity: .75;
    width: auto; 
    position: relative; 
    height: 30px; 
    bottom: 0px; 
    margin: 0px 9px 9px;
}
.dest-group-box-subtext {
    color: var(--teal);
    margin-top: 6px;
    font-size: 17px;
    font-weight: 500;
}

/* /////////// */
/* ICON STYLES */
/* /////////// */

/* Changes style of icons */
.fa-star-o {
    float: right;
    color: var(--white);
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-check {
    float: left;
    color: var(--white);
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.fa-pencil {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: var(--white);
    transition: all .2s ease-in-out;
    cursor: pointer;
}
/* Shows edit pencil on hover of dest footer */
.dest-box-footer:hover .fa-pencil {
    display: block;
}
/* Changes style of explored/favorited destinations */
.exp-full::before {
    color: var(--limegreen)
}
.star-full::before {
    content: "\f005";
    color: var(--yellow);  
}
/* Changes color of icons on hover, separate style with 'before' needed to alter content */
.fa-star-o:hover::before {
    content: "\f005";
    color:var(--yellow);
}
.fa-star-o:hover {
    transform: scale(1.175);
}
.fa-check:hover {
    color: var(--limegreen);
    transform: scale(1.175);
}
.fa-pencil:hover {
    color: var(--brown);
    transform: scale(1.175);
}
/* /////////////// */
/* SEARCH SPECIFIC */
/* /////////////// */

.search-dest-group-box {
    border: 1px solid var(--lightnavy);
    background: rgba(51, 64, 85, 0.5);
    border-radius: 6px; 
    width: 1075px;
    padding: 16px;
    margin: 0 auto 16px;
}
.search-dest-group {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    align-items: center; 
}
.search {
    width: 1075px;
    margin: 0 auto 16px;
}
.search-input {
    background-color: var(--navy);
    border-color: var(--teal);
    color: var(--teal);
}
.search-input::placeholder {
    color: var(--teal);
}

.search-input:focus {
    border-color: var(--teal);
}
.search-input:focus::-webkit-input-placeholder {
    color: transparent;
}
.search-btn,
.search-btn:hover,
.search-btn:active,
.search-btn:focus {
    background-color: var(--navy) !important;
    border-color: var(--teal) !important;   
}
.fa-search {
    color: var(--teal);
}
.no-results {
    color: var(--teal);
    margin: 6px auto;
    font-size: 20px;
    font-weight: 500;
}