/* SITE-WIDE STYLES */
/* This will define all styles that should be applied to all pages and very rarely overwritten */

body {
    font-family: Arial, Helvetica, sans-serif
}
div {
    display: block;
}
a {
    text-decoration: none;
}
/* Overrides some Bootstrap styling to alter navigation bar. */
.navbar-inverse {
    background-color: rgb(32, 41, 51);
    border: 0;
    text-transform: uppercase;
}
.h-v-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h-center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.image-element {
    height: 350px;
}
.image-caption {
    width: 75%;
}
#map {
    height: 600px;
}
.header {
    color: rgb(255,255,255);
    text-decoration: none;
}
