{% extends 'layout.html' %}
{% set active_page = 'home' %}

{% block head %}
<link rel = 'import' href = '../static/bower_components/polymer/polymer.html'>
<link rel = 'import' href = '../static/bower_components/polymer/polymer.html'>
<link rel = "import" href = '../static/bower_components/paper-toast/paper-toast.html'>
{% endblock %}

{% block body %}
{% include 'includes/_featured_dest.html' %}
<div class="centered home-dest-container">
  <div class="box-group">
    <div class="box">
      <div class="box-header-text">Recently Added</div>
      <div class="item-group three-wide">
      {% for dest in recent[:3] %}
        {% include 'includes/_dest.html' %}
      {% endfor %}
      </div>
      <div class="box-footer">
        <a href="{{ url_for('main.search') }}" class="footer-text">Explore all {{ "{:,}".format(dest_count) }} destinations...</a>
      </div>
    </div>
    <div class="box">
      <div class="box-header-text">Most Popular</div>
      <div class="item-group three-wide">
      {% for dest in popular[:3] %}
        {% include 'includes/_dest.html' %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<paper-toast id="toast"></paper-toast>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/destinations.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
