{% extends 'layout.html' %}
{% set active_page = "search" %}

{% block head %}
<link rel = "import" href = '../static/bower_components/polymer/polymer.html'>
<link rel = "import" href = '../static/bower_components/polymer/polymer.html'>
<link rel = "import" href = '../static/bower_components/paper-toast/paper-toast.html'>
{% endblock %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
{% include 'includes/_featured_dest.html' %}
<div class="page-content centered col-11">
  <form action="" method="GET" autocomplete="off">
    <div class="search search-filters" id="basic-search">
      {{ render_field(form.location, 
                      class_="form-control input-lg search-input", 
                      autocomplete="off",
                      placeholder="Search by location",
                      value=location|default("", true)
                      ) }}
      {{ render_field(form.keywords, 
                      class_="form-control input-lg search-input", 
                      autocomplete="off",
                      placeholder="Filter by keywords",
                      value=keyword|default("", true)
                      ) }}
      <button class="btn btn-lg search-btn" type="submit">
        <i class="fas fa-search fa-x-lg"></i>
      </button>
    </div>
  </form>
  <div class="box">
    <div class="float-left no-results {% if dests|length != 0 %}d-none{% endif %}">No destinations found for your search.</div>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="item-group five-wide hide transparent">
      {% for dest in dests %}
        {% include 'includes/_dest.html' %}
      {% endfor %}
    </div>
  </div>
</div>

<paper-toast id="toast"></paper-toast>
{% endblock %}

{% block scripts%}
<script>var locations = {{ locations | safe }};var tags = {{ tags | safe }};</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/2.2.0/jquery.smooth-scroll.min.js"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/destinations.js') }}"></script>
{% endblock %}
