{% extends 'layout.html' %}
{% set links = [
    ('/explored'),
    ('/favorites')
  ] -%}
{% set active_page = "profile" %}

{% block body %}
<div class="box-group container-md">
  <div class="box">
    <div class="profile-container">
      <div class="pro-pic-container">
        <img src="{{ user.avatar(128) }}" alt="" class="pro-pic">
      </div>
      <div class="title">{{ user.full_name() }}</div>
      <div class="about">
        {% if user.about %}<p>{{ user.about }}</p>{% endif %}
        {% if not user.about and current_user.id == user.id %}<p>Write something about yourself!</p>{% endif %}
        {% if not user.about and current_user.id != user.id %}<p>{{ user.first_name }} has not written an About Me.</p>{% endif %}
      </div>
    </div>
  </div>    
  <div class="box">
  <div class="box-header-text">Summary</div>
    <div class="circle-group">
      <div class="circle-with-text">
        <div class="circle">
          <a href="/user/{{ user.id }}/Explored">
            <p class="stat-number">{{ explored|length }}</p>
          </a>
        </div>
        <div class="text-white">Explored</div>
      </div>
      <div class="circle-with-text">
          <div class="circle">
            <a href="/user/{{ user.id }}/Favorites">
              <p class="stat-number">{{ favorites|length }}</p>
            </a>
          </div>
          <div class="text-white">Favorites</div>
      </div>
      {% for n in range(0,3) %}
      <!-- <div class="cirWcle-with-text">
        <div class="circle">
          <a href="/user/">
            <p class="stat-number"></p>
          </a>
        </div>
        <div class="text-white">Top 6 Tags</div>
      </div> -->
      {% endfor %}
    </div>
  </div>
  <!-- <div class="box">
    <ul class="nav nav-pills nav-justified">
      <li id="all" class="pill-element active"><a>All Destinations</a></li>
      <li id="favorites" class="pill-element"><a>Favorited Destinations</a></li>
      <li id="explored" class="pill-element"><a>Explored Destinations</a></li>
    </ul>
    <div id="map"></div>
  </div> -->
  {% if user.id == current_user.id %}
  <div class="box">
    <div class="box-header-text">Account</div>
    <div class="text-white">Questions about Travelers or your account? Email the creator at <a class="text-teal" href="#">jacobcwebber@gmail.com</a>.</div><br>
    <a class="text-teal" href="{{url_for ('auth.logout') }}">Logout</a>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
<script>var locations = '{{locations | safe}}';</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABEVdEk2zQBeCHstcUpXQUkSxPhtmTv0Q&callback=initMap" async defer></script>
{% endblock %}

