{% set navigation_bar = [
  ('/destinations', 'destinations', 'Explore'),
  ('/search', 'search', 'Search')
] -%}
{% set active_page = active_page|default('index') -%}

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color: rgb(70, 188, 194); letter-spacing: 4px; font-weight: 600; font-size: 20px;" class="navbar-brand" href="/">
        <img style="float:left; padding-right: 8px;" src="/static/images/favicon.ico"></img>
        Travelers
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-trav">
      <ul class="nav navbar-nav">
        {% if session.logged_in %}
          {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active" {% endif %}>
              <a style="letter-spacing: 1px; font-weight: 400; font-size: 17px;" href="{{ href|e }}">
                <section>{{ caption|e }}</section>
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
        <li{% if "profile" == active_page %} class="active" {% endif %}>
          <a style="letter-spacing: 1px; font-weight: 400; font-size: 17px;" href="/profile">
            <section>Profile</section>
          </a>
        </li>
        {% else %}
          <li><a href="/register" >Register</a></li>
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>