{% extends 'layout.html' %}
{% set active_page = "new_destination" %}

<!-- Consider adding macro for sections -->
{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="col-10 offset-1">
  <h2 class="centered header">Create Destination</h2>
</div>
<ul class="progressbar">
  <li class="centered complete active" id="step1">Basics</li>
  <li class="centered" id="step2">Details</li>
  <li class="centered" id="step3">Location</li>
  <li class="centered" id="step4">Add Photos</li>
  <li class="centered" id="step5">Confirm</li>
</ul>
<div class="box col-10 offset-1">
  <h3 class="header" id="sectionHeader"></h3>
  <form method="POST" id="submitForm" action="">
    {{ form.csrf_token }}
    <div class="form-section">
      <div class="form-group" id="destFormSection">
        <div class="form-label">Destination</div>
        {{ render_field(form.name, id="destName", class_="form-control input-field", autocomplete="off") }}
      </div>
      <div class="form-group">
        <div class="form-label">Country</div>
        {{ render_field(form.country_id, placeholder="Country", id="country", class_="form-control") }}
      </div>
    </div>
    <div class="form-section" style="display: none;">
      <div class="form-group">
        <div class="form-label">Tags</div>
        {{ render_field(form.tags, id="tags", class="form-control", autocomplete="off") }}
      </div>
      <div class="form-group">
        <div class="form-label">Description</div>
        {{ render_field(form.description, placeholder="Description", id="description", class_="form-control") }}
      </div>
    </div>
    <div class="form-section" style="display: none;">
      <div class="form-group">
        <div class="form-label dest-not-found">We could not find your destination. Please check that the destination is spelled correctly and the country is correctly selected.</div>
        <div class="form-label dest-not-found">Searching for: <div id="destSearchTerm"></div></div>
        <div class="form-label dest-not-found" id="updateSearchTerm">Update search</div>
        {{ render_field(form.lat, id="lat", style="display: block;") }}
        {{ render_field(form.lng, id="lng", style="display: block;") }}
      </div>
      <div id="createDestMap" style="background-color: lightgrey;"></div>
    </div>
    <div class="form-section" style="display: none;">
      <div class="form-group">
        {{ render_field(form.img_url, id="imgLink", class_="form-control", style="display: block;") }}
        {{ render_field(form.img_upload, class_="form-control-file", id="imgUpload") }}
      </div>
    </div>
    <div class="form-section" style="display: none;">
      <div class="form-group">
        <div class="form-inline text-white">
            {{ form.name.label }}: <div id="destinationConfirm"></div>
        </div>
        <div class="form-inline text-white">
            {{ form.country_id.label }}: <div id="countryConfirm"></div>
        </div>
        <div class="form-inline text-white">
            {{ form.description.label }}: <div id="descriptionConfirm"></div>
        </div>
      </div>
    </div>
    {{ render_field(form.submit, id="submitBtn", class="btn btn-teal", style="display: none; float: right;")}}
  </form>
  <button class="btn btn-tertiary" id="prevBtn" style="float: left">Back</button>  
  <button class="btn btn-teal btn-wide" id="nextBtn" style="float: right">Continue</button>
</div>
{% endblock %}

{% block scripts %}
<script>var tags = {{ tags | safe }};</script>
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
<script type="text/javascript">CKEDITOR.replace('description')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABEVdEk2zQBeCHstcUpXQUkSxPhtmTv0Q&callback=initMap"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="/static/js/create_destination.js"></script>
{% endblock %}
