{% extends 'layout.html' %}
{% from "includes/_formhelpers.html" import render_field %}
{% set active_page = "admin" %}

{% block body %}
<a class="btn btn-teal" href="{{ url_for('admin.index') }}">
  <i class="fas fa-chevron-left"></i>
  Back to dashboard
</a>
<h2 class="header">Registered Users</h2>

<table class="table table-bordered">
  <thead>
    <th class="text-teal" scope="col">ID</th>
    <th class="text-teal" scope="col">First</th>
    <th class="text-teal" scope="col">Last</th>
    <th class="text-teal" scope="col">Email</th>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th class="text-white" scope="row">{{ user.id }}</th>
      <td class="text-white">{{ user.first_name }}</td>
      <td class="text-white">{{ user.last_name }}</td>
      <td class="text-white">{{ user.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}