{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="../static/css/destinations_user.css">

<section id="dest-group-boxes" style="width: 800px;" class="h-center">
    <section class="dest-group-box" style="overflow: hidden;">
        <section style="width: 100%; height: 100%; overflow: auto;"></section>
            <section style="background-color: rgb(255,255,255); margin: 10px; border-radius: 50%; height: 160px; width: 160px; float:left;">
                <section style="margin: auto; padding-top: 75px; text-align: center;">Profile Picture</section>
            </section>
            <section style="margin: 10px;">
                <span style="display: block; font-size: 24px;" class="dest-group-box-subtext">Jacob</span>
                <span style="color: white; font-size: 15px; overflow-wrap: break-word;" class="dest-group-box-subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas id labore doloribus aperiam distinctio hic quos perspiciatis tenetur error reiciendis, commodi enim quam. Excepturi cumque similique recusandae totam voluptatem officia.</span>
            </section>
        </section>
    </section>
</section>


<script type="text/javascript" src="../static/js/account.js"></script>
{% endblock %}
