{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="../static/css/destinations_user.css">

<div style="width: 800px;" class="h-center">
    <div class="dest-group-box" style="overflow: hidden;">
        <div style="float: left;">
            <div id="profile-pic-circle" style="background-color: rgb(255,255,255); margin: 10px; border-radius: 50%; height: 160px; width: 160px; float:left;">
                <div style="margin: auto; padding-top: 75px; text-align: center;">Profile Picture</div>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <span style="display: block; font-size: 24px; padding-bottom: 3px;" class="dest-group-box-subtext">Jacob</span>
            <span style="color: rgb(255, 255, 255); font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas id labore doloribus aperiam distinctio hic quos perspiciatis tenetur error reiciendis, commodi enim quam. Excepturi cumque similique recusandae totam voluptatem officia.</span>
        </div>
    </div>
    <div class="dest-group-box" style="overflow: hidden;">
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
        {% for n in range(0,3) %}
        <div style="display: flex; flex-direction: column; text-align: center;">
            <div id="profile-pic-circle" style="text-align: center; vertical-align: middle; border-style: solid; border-width: 5px; border-color: rgb(70, 188, 194); margin: 10px; border-radius: 50%; height: 160px; width: 160px;">
                <p style="line-height: 160px; color: white; font-size: 48px;">{{ counts[n] }}</p>
            </div>
            <div style="color: white; font-size: 16px;">{{ captions[n] }}</div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/account.js"></script>
{% endblock %}
