{% extends 'layout.html' %}

{% block body %}
<h1>{{country.CountryName}}</h1>
<small> Last updated on {{country.UpdateDate}}</small>
<hr>

<center><div class="images">
    {% for image in images %}
    <div class="image-container">
        <img class='img-responsive image-element' src="{{ image.ImgUrl }}" alt="">
        <p>{{ image.DestName }}</p>
    </div>
    {% endfor %}
</div></center>

<hr>

<b>Destinations:</b><br>
{% for destination in destinations %}
    <li><a  href="/destination/{{ destination.DestID }}"> {{ destination.DestName }}</a></li>
{% endfor %}
<hr>

<p><a href="/countries" class="btn btn-primary">Back to Countries</a></p>


<script src="/static/js/country.js"></script>
{% endblock %}