{% extends 'layout.html' %}

{% block body %}
<section class="card-group-container h-center">
    <section class="dest-card-group">
        <section class="dest-card-group-title">Recommended For You</section>
        <section style="display:flex; align-items: center; justify-content: flex-start; flex-wrap: wrap;">
            {% for destination in recommended %}
            <a style="text-decoration: none;" href="/destination/{{ destination.DestID }}">
                <section class='dest-box' style="background-image: linear-gradient(rgba(51, 64, 85, 0.40), rgba(51, 64, 85, 0.40)), url({{ destination.ImgURL }});">
                    <section style="margin: 0px auto 24px; height: 100%">
                        <section class="dest-box-name" style="height: 100%">
                            <p class="title-text" style="font-size: 20px">{{ destination.DestName }}</p>
                        </section>
                    </section>
                </section>
            </a>
            {% endfor %}
            <span style="color: white; font-size: 16px">Explore all {{ count.Count }} destinations...</span>
        </section>
    </section>
    <section class="dest-card-group">
        <section class="dest-card-group-title">Because You Like Adventure</section>
        <section style="display:flex; align-items: center; justify-content: flex-start; flex-wrap: wrap;">
            {% for destination in topTag %}
            <a style="text-decoration: none;" href="/destination/{{ destination.DestID }}">
                <section class='dest-box' style="background-image: linear-gradient(rgba(51, 64, 85, 0.40), rgba(51, 64, 85, 0.40)), url({{ destination.ImgURL }});">
                    <section style="margin: 0px auto 24px; height: 100%">
                        <section class="dest-box-name" style="height: 100%">
                            <p class="title-text" style="font-size: 20px">{{ destination.DestName }}</p>
                        </section>
                    </section>
                </section>
            </a>
            {% endfor %}
        </section>
    </section>
    <section class="dest-card-group">
        <section class="dest-card-group-title">Because You Like Animals</section>
        <section style="display:flex; align-items: center; justify-content: flex-start; flex-wrap: wrap;">
            {% for destination in secondTag %}
            <a style="text-decoration: none;" href="/destination/{{ destination.DestID }}">
                <section class='dest-box' style="background-image: linear-gradient(rgba(51, 64, 85, 0.40), rgba(51, 64, 85, 0.40)), url({{ destination.ImgURL }});">
                    <section style="margin: 0px auto 24px; height: 100%">
                        <section class="dest-box-name" style="height: 100%">
                            <p class="title-text" style="font-size: 20px">{{ destination.DestName }}</p>
                        </section>
                    </section>
                </section>
            </a>
            {% endfor %}
        </section>
    </section>
</section>
{% endblock %}
