{% extends 'layout.html' %}

{% block body %}
<div class="d-inline-block">
    <h1>{{destination.DestName}}, <a href='/country/{{ destination.CountryID }}'>{{destination.CountryName}}</a></h1>
</div>
<div class="d-inline-block">
    <form method='POST' action="">
        <p><input id="favorite-btn" class="btn btn-success" type="submit" value="Favorite"></p>
    </form>
</div>
<small> Last updated on {{destination.UpdateDate}}</small>
<hr>

<center><div class="images">
    {% for image in images %}
    <div class="image-container">
        <img class="img-responsive image-element" src="{{ image.ImgUrl }}" alt="">
    </div>
    {% endfor %}
</div></center>

<center><div class="image-caption">
    <i>{{destination.Description | safe}}</i>
</div></center>

<hr>

<script type="text/javascript">
    $('.images').slick( {
        fade: true,
        arrows: false,
        mobileFirst: true,
        autoplay: true,
        autoplaySpeed: 5000,
        touchMove: true
    });
</script>

<p><a href="/destinations" class="btn btn-primary">Back to Destinations</a></p>
{% endblock %}


