{% extends 'layout.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
 <div class="panel panel-default">
    <div class="panel-heading"><strong>Admin Destinations</strong></div>
    <div class="panel-body">
    <p><a class="btn btn-primary" href="/create-destination">Create Destination</a></p>
    <div class="table-responsive" style="max-height: 400px">
        <table class="table table-bordered table-hover">
            <thead>
                <th>Destination</th>
                <th>Country</th>
                <th></th>
            </thead>
            {% for destination in destinations %}
            <tr class="clickable-row">
                <td><a href="/destination/{{ destination.DestID }}"> {{ destination.DestName }} </a></td>
                <td><a href="/country/{{ destination.CountryID }}"> {{ destination.CountryName  }} </a></td>
                <td><a href="/edit_destination/{{ destination.DestID }}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
</div>
{% endblock %}
