{% extends 'layout.html' %}

{% block body %}
<style>
    .images .dest-container {
      display: none;
    }
    .images .dest-container:first-child {
      display: block;
    }
    .images.slick-initialized .dest-container {
      display: block;
    }
</style>

<div class="container" align="center">
    <section class="header dest-card-group" style="max-width: 900px">
        <h2 id="dest-name">{{ destination.DestName }}, <a href='/country/{{ destination.CountryID }}'>{{destination.CountryName}}</a></h2>  
    </section>
    <section class="dest-card-group" style="max-width: 900px; overflow: auto;">    
        <div class="images">
                {% for image in images %}
                <div class="dest-container">
                    <img class="img-responsive image-element" src="{{ image.ImgUrl }}" alt="">
                </div>
                {% endfor %}
        </div> <p></p>
        <div class="image-caption" style="color: rgb(255,255,255);">
            {{destination.Description | safe}}
        </div>
        {% for tag in tags %}
            <h4 style="display: inline;"><span class="label label-primary">{{ tag.TagName }}</span></h4>
        {% endfor %}
        <hr>
        <div id="map" style="height: 500px; width: 100%;"></div>
        <hr>
        <a href="/destinations-user" class="btn btn-primary" style="float: left;">Back to Destinations</a>
        <form method='POST' action="" style="float: right;">
            <input style="width: 80px" id="favorite-btn" class="btn btn-success" type="submit" value="Favorite">
        </form>   
        <a href="/edit_destination/{{ destination.DestID }}" class="btn btn-primary" style="float: right; margin-right: 7px">Edit Destination</a>
    </section>
        <!-- <small style="color: rgb(255,255,255);" >Last updated on {{destination.UpdateDate}}</small> -->
    <p></p>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABEVdEk2zQBeCHstcUpXQUkSxPhtmTv0Q&callback=initMap"
    async defer></script>
<script src="/static/js/destination.js"></script>
{% endblock %}


