{% extends 'layout.html' %}
{% set active_page = "profile" %}

{% block head %}
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block body %}

<div class="group-box" style="overflow: hidden;">
    <div style="float: left;">
        <div class="pic-circle">
            <div style="margin: auto; padding-top: 75px; text-align: center;">Profile Picture</div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <span class="dest-group-box-subtext">{{ user.FirstName }}</span>
        <span class="pro-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas id labore doloribus aperiam distinctio hic quos perspiciatis tenetur error reiciendis, commodi enim quam. Excepturi cumque similique recusandae totam voluptatem officia.</span>
    </div>
</div>
<div class="group-box">
    <div class="stats">
        {% for n in range(0,3) %}
        <div class="inner-stats">
            <div class="stat-circle">
                <p class="stat-number">{{ counts[n] }}</p>
            </div>
            <div class="stat-name">{{ captions[n] }}</div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="group-box">
    <ul class="nav nav-pills nav-justified">
        <li id="all" class="pill-element active"><a>All Destinations</a></li>
        <li id="favorites" class="pill-element"><a>Favorited Destinations</a></li>
        <li id="explored" class="pill-element"><a>Explored Destinations</a></li>
    </ul>
    <div id="map"></div>
</div>

<script type="text/javascript" src="../static/js/profile.js"></script>
<script>
    var locations = {{locations | safe}};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABEVdEk2zQBeCHstcUpXQUkSxPhtmTv0Q&callback=initMap" async defer></script>

{% endblock %}
