{% extends 'layout.html' %}

{% block body %}
<div class="form">
    <img src="{{url_for('static', filename='images/marta.png')}}">
    {% from "includes/_formhelpers.html" import render_field %}
    <form class="register-form" method="POST" action="">
        <div>
            {{render_field(form.username, class_="form-control")}}
        <div>
            {{render_field(form.email, class_="form-control")}}
        </div>
        <div>
          {{render_field(form.password, class_="form-control")}}
        </div>
        <div>
          {{render_field(form.confirm, class_="form-control")}}
        </div>
        <div id="next-button"><button type="submit">Create</button></div>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
</div>

<script>
$("#next-button").click(fuction() {
    alert("Button was clicked");
});
</script>
{% endblock %}
