{% extends 'layout.html' %}
{% set active_page = "search" %}
{% set title = "| Search" %}


{% block head %}
<link rel = 'import' href = '../static/bower_components/polymer/polymer.html'>
<link rel = 'import' href = '../static/bower_components/polymer/polymer.html'>
<link rel = "import" href = "../static/bower_components/paper-toast/paper-toast.html">
<link rel="stylesheet" type="text/css" href="../static/css/destinations.css">
{% endblock %}

{% block body %}
<div class="input-group search">
    <input class="form-control input-lg search-input" type="text" placeholder="Search by destination, country, keyword...">
    <span class="input-group-btn">
        <button class="btn btn-default btn-lg search-btn" type="button"><i class="fa fa-search fa-lg"></i></button>
    </span>
</div>
<div class="search-dest-group-box">
    <div class="no-results hidden">No destinations found for your search.</div>
    <section class="search-dest-group">
        {% for destination in destinations %}
        <section id ="dest{{ destination.DestID }}" class="dest hidden">
            <section class='dest-image' style="background-image: linear-gradient(rgba(51, 64, 85, 0.40), rgba(51, 64, 85, 0.40)), url({{ destination.ImgUrl }});">
                <section class="dest-container">  
                    <section class="dest-box-header">
                        {% if destination.DestID in explored %}
                            <span id="{{ destination.DestID }}" class="fa fa-check fa-lg exp-full exp-check" aria-hidden="true"></span> 
                        {% else %}
                            <span id="{{ destination.DestID }}" class="fa fa-check fa-lg exp-check" aria-hidden="true"></span> 
                        {% endif %}
                        {% if destination.DestID in favorites %}
                            <span id="{{ destination.DestID }}" class="fa fa-star-o fa-lg star-full fav-star" aria-hidden="true"></span> 
                        {% else %}
                            <span id="{{ destination.DestID }}" class="fa fa-star-o fa-lg fav-star" aria-hidden="true"></span> 
                        {% endif %}
                    </section>
                    <a href="/destination/{{ destination.DestID }}" class="dest-box-mid">
                        <span class="dest-box-name">{{ destination.DestName }}</span>
                    </a>
                    <section class="dest-box-footer">
                        <a href="/edit_destination/{{ destination.DestID }}">
                            <span class="fa fa-pencil fa-lg" aria-hidden="true"></span>                             
                        </a>
                    </section>
                </section>
            </section>
        </section>
        {% endfor %}
    </section>
</div>

<paper-toast id="toast"></paper-toast>

<script>
    var dests={{ destinations | safe }};
</script>
<script src="/static/bower_components/fuse.js/dist/fuse.min.js"></script>
<script src="/static/js/search.js"></script>
<script src="/static/js/destinations.js"></script>

{% endblock %}
