{% macro build_box(size) %}
<div class="item-group {{size}}-wide hide">
  {% for destination in destinations %}
  <div id ="dest{{ destination.DestID }}" class='item' style="background-image: linear-gradient(rgba(51, 64, 85, 0.40), rgba(51, 64, 85, 0.40)), url({{ destination.ImgUrl }});">
    <div class="item-header">
      {% if destination.DestID in explored %}
        <i id="{{ destination.DestID }}" class="fas fa-check fa-lg exp-full" aria-hidden="true"></i> 
      {% else %}
        <i id="{{ destination.DestID }}" class="fas fa-check fa-lg" aria-hidden="true"></i> 
      {% endif %}
      {% if destination.DestID in favorites %}
        <i id="{{ destination.DestID }}" class="fas fa-star fa-lg star-full" aria-hidden="true"></i> 
      {% else %}
        <i id="{{ destination.DestID }}" class="far fa-star fa-lg" aria-hidden="true"></i> 
      {% endif %}
    </div>
    <div>
      <a id="{{ destination.DestID }}" class="item-mid">
        <span class="item-title">{{ destination.DestName }}</span>
      </a>
    </div>
    <div class="item-footer">
      <a href="/edit-destination/{{ destination.DestID }}">
        <span class="fas fa-pencil-alt fa-lg" aria-hidden="true"></span>                             
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}
