<div id ="dest{{ dest.id }}" class='item' style="background-image: linear-gradient(rgba(51, 64, 85, 0.40), rgba(51, 64, 85, 0.40)), url({{ dest.img_url }});">
  <div class="item-header">
      <i id="{{ dest.id }}" rel="tooltip" title="{% if dest.id in explored %}Remove from{% else %}Add to{% endif %} Explored" 
        class="fas fa-check fa-lg {% if dest.id in explored %}exp-full{% endif %}" 
        aria-hidden="true"></i> 
      <i id="{{ dest.id }}" rel="tooltip" title="{% if dest.id in favorites %}Remove from{% else %}Add to{% endif %} Favorites"
        class="fas fa-star fa-lg {% if dest.id in favorites %}star-full{% endif %}" 
        aria-hidden="true"></i> 
  </div>
  <div>
    <a id="{{ dest.id }}" class="item-mid" data-toggle="modal" data-target="#modal">
      <span class="item-title">{{ dest.name }}</span>
    </a>
  </div>
  {% if current_user.is_admin %}
  <div class="item-footer">
    <a href="/edit-destination/{{ dest.id }}">
      <span class="fas fa-pencil-alt fa-lg" aria-hidden="true"></span>                             
    </a>
  </div>
  {%endif %}
</div>