<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
    <div class="box modal-content">
      <div class="feat-dest-wrapper item-group">
        <i class="far fa-times-circle fa-x-lg teal" data-dismiss="modal"></i>
        <img id="feat-dest-img" src="" alt=""></img>   
        <div class="right">
          <h3 class="header">
            <span id="feat-dest-name"></span> - 
            <span id="feat-country-name"></span>
          </h3>
          <span class="body" id="feat-dest-desc"></span>
          <hr>
          <div class="" id="feat-dest-tags"></div>
        </div>
      </div>
    </div>
  </div>
</div>