<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="box modal-content">
      <i class="far fa-times-circle fa-x-lg text-teal" data-dismiss="modal"></i>
      <div class="feat-dest item-group">
        <img id="feat-dest-img" src="" alt=""></img>   
        <div class="right">
          <h3 class="header">
            <span id="feat-dest-name"></span> - 
            <span id="feat-country-name"></span>
          </h3>
          <span class="body" id="feat-dest-desc"></span>
          <hr />
          <div class="tags" id="feat-dest-tags"></div>
        </div>
      </div>
    </div>
  </div>
</div>