{% from "includes/_formhelpers.html" import render_field %}

<nav class="navbar navbar-expand-lg wander-nav">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('auth.index') }}">
      <img class="icon" src="{{ url_for('static', filename='images/favicon.ico') }}" width="22" height="22" alt="Wanderlist"></img>
      <span class="logo">Wanderlist</span>
    </a>
    {% if current_user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars fa-lg text-teal"></i>
    </button>
    {% endif %}
  
    <div {% if current_user.is_authenticated %} class="collapse navbar-collapse" {% endif %}>
      <ul class="nav navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
          <li class="nav-item {% if 'home' == active_page %}active{% endif %}">
            <a href="{{ url_for('main.home') }}">Home</a>
          </li>
          <li class="nav-item {% if 'search' == active_page %}active{% endif %}">
            <a href="{{ url_for('main.search') }}">Explore</a>
          </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
          {% if current_user.is_admin %}
          <!-- <li class="nav-item {% if 'admin_dashboard' == active_page %}active{% endif %}">
            <a href="{{ url_for('main.home') }}">Admin</a>
          </li> -->
          {% endif %}
          <li class="d-none d-lg-block nav-item">
            <a href="{{ url_for('main.user', id=current_user.id) }}">
              <img src="{{ current_user.avatar(36) }}" alt="" class="mini-pro-pic">
            </a>
          </li>
          <li class="d-block d-lg-none nav-item {% if 'profile' == active_page %}active{% endif %}" id="profile-link">
            <a href="{{ url_for('main.user', id=current_user.id) }}">Profile</a>
          </li>
        {% elif request.path == '/' %}
        <form action="" method="POST" class="form-inline login-form d-none d-lg-block">
          {{ render_field(login_form.csrf_token, id="login-csrf-token") }}
          {{ render_field(login_form.email, class_="form-control form-control-sm trav-input", placeholder="Email") }}
          {{ render_field(login_form.password, class_="form-control form-control-sm trav-input", placeholder="Password") }}
          {{ render_field(login_form.login, class_="btn btn-sm btn-teal") }}
        </form>
        <li class="nav-item d-lg-none {% if 'destinations' == active_page %}active{% endif %}">
          <a href="{{ url_for('auth.login') }}">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{ url_for('auth.index') }}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>