{% from "includes/_formhelpers.html" import render_field %}

<nav class="navbar navbar-expand-lg trav-nav">
  <div class="container {%if active_page == 'home'%}container-lg{% endif %}">
    <a class="navbar-brand" href="{{ url_for('auth.index') }}">
      <img class="icon" src="{{ url_for('static', filename='images/favicon.ico') }}" width="20" height="20" alt=""></img>
      <span class="logo">Wanderlist</span>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
          <li class="nav-item {% if 'destinations' == active_page %}active{% endif %}">
            <a href="{{ url_for('main.home') }}">Home</a>
          </li>
          <li class="nav-item {% if 'search' == active_page %}active{% endif %}">
            <a href="{{ url_for('main.search') }}">Explore</a>
          </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
          {% if current_user.is_admin %}
          <li class="nav-item {% if 'admin_dashboard' == active_page %}active{% endif %}">
            <a href="{{ url_for('main.home') }}">Admin</a>
          </li>
          <li class="nav-item {% if 'new_destination' == active_page %}active{% endif %}">
            <a href="{{ url_for('main.create_destination') }}">New Destination</a>
          </li>
          {% endif %}
          <li class="nav-item {% if 'profile' == active_page %}active{% endif %}">
            <a href="{{ url_for('main.user', id=current_user.id) }}">Profile</a>
          </li>
        {% elif request.path == '/' %}
        <form action="" method="POST" class="form-inline login-form">
          {{ render_field(login_form.csrf_token, id="login-csrf-token") }}
          {{ render_field(login_form.email, class_="form-control form-control-sm trav-input", placeholder="Email") }}
          {{ render_field(login_form.password, class_="form-control form-control-sm trav-input", placeholder="Password") }}
          {{ render_field(login_form.login, class_="btn btn-sm btn-teal") }}
        </form>
        {% else %}
        <li class="nav-item">
          <a href="{{ url_for('auth.index') }}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>