{% set navigation_bar = [
  ('/destinations', 'destinations', 'Explore'),
  ('/search', 'search', 'Discover')
] -%}
{% set active_page = active_page|default('index') -%}

<nav class="navbar trav-nav navbar-toggleable-md">
  <div class="container {%if active_page == 'home'%}extra-wide-container{% endif %}">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" {% if session.logged_in %} href="{{ url_for('destinations') }}" {% else %} href="{{ url_for('index') }}" {% endif %}>
        <img class="icon" src="/static/images/favicon.ico"></img>
        <span class="logo">Wanderlist</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if session.logged_in %}
          {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active" {% endif %}>
              <a class="nav-item" href="{{ href|e }}">
                <section class="nav-text">{{ caption|e }}</section>
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
          {% if session.is_admin %}
          <li{% if "new_destination" == active_page %} class="active" {% endif %}>
            <a class="nav-item" href="{{ url_for('create_destination') }}">
              <section>New Destination</section>  
            </a>
          </li>
          {% endif %}
          <li{% if "profile" == active_page %} class="active" {% endif %}>
            <a class="nav-item" href="{{ url_for('user', user_id=current_user.user_id) }}">
              <section>Profile</section>
            </a>
          </li>
        </ul>
        {% else %}
        <form method="POST" action="" class="form-inline login-form">
            <input class="form-control input-sm trav-input" name="email"  type="text" placeholder="Email">
            <input class="form-control input-sm trav-input" name="password" type="password" placeholder="Password">
            <input type="submit" name="submit" class="btn btn-sm btn-teal" value="Login">
          </form>
        {% endif %}
    </div>
  </div>
</nav>