{% extends 'layout.html' %}
{% set active_page = "countries" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading"><strong>Countries</strong></div>
    <div class="panel-body">
        <div class="table-responsive" style="max-height: 400px">
            <table class="table table-bordered table-hover" data-toggle="table" data-sort-order="desc">
                <thead>
                    <th data-sortable="true">Country</th>
                    <th data-sortable="true">Number of Destinations</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for country in countries %}
                    <tr class="clickable-row">
                        <td><a  href="/country/{{ country.CountryID }}">{{ country.CountryName }}</a></td>
                        <td>{{ country.DestCount }}</td>
                        <td><a href="/edit_country/{{ country.CountryID }}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}