{% extends 'layout.html' %}
{% set active_page = "new_destination" %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="panel panel-default">
  <div class="panel-heading">Create Destination</div>
  <div class="panel-body">
    <form method="POST" id="submitForm" action="" style="display: inline-block; width: 100%;">
      <div class="tab">
          <div style="float: left; width: 45%;">
            <div class="form-group">
              {{ render_field(form.name, id="dest-name", class_="form-control") }}
            </div>
            <div class="form-group">
              {{ render_field(form.country_id, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.lat, id="lat", style="width: 33%; display: inline;", class_="form-control") }}
                {{ render_field(form.lng, id="lng", style="width: 33%; display: inline;", class_="form-control") }}
            </div>
        </div>
        <div id="map" style="float: right; height: 280px; width: 52%; margin-bottom: 10px; background-color: lightgrey;"></div>
      </div>
      <div class="tab" style="display: none;">
        <div class="form-group">
          {{ render_field(form.tags, id="tags", class="form-control", type="text", **{'data-role':'tagsinput'})}}
        </div>
        <div class="form-group">
            {{ render_field(form.description, class_="form-control", id="editor") }}
        </div>
      </div>
      <div class="tab" style="display: none;">
        <img src="" id="img-preview" style="height: 300px;">
        <div class="form-group">
            {{ render_field(form.img_url, id="img-link", class_="form-control") }}
            <input type="file" id="file-upload">
        </div>
      </div>
    </form>
    <div style="float: right">
      <a class="btn btn-secondary" id="prevBtn" onclick="nextPrev(-1)">Previous</a>   
      <a class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Next</a>
      <input  class="btn btn-success" style="display: none;" id="submit-btn" type="submit" value="Submit">
    </div>
  </div>
</div>

<script>
    var tagsSource = {{ tags | safe }};
</script>
<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
<script type="text/javascript">CKEDITOR.replace('editor')</script>
<script src="/static/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap3-typeahead.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABEVdEk2zQBeCHstcUpXQUkSxPhtmTv0Q&callback=initMap"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="/static/js/create_destination.js"></script>
{% endblock %}