{% extends 'layout.html' %}

{% block body %}
<div class="box-group container-md">
  <div class="box center-text">
    <span class="large text-teal">{{ dest.dest_name }}, {{dest.country_name}}</span>  
  </div>
  <div class="box container-md center-text">    
    <img class="image-element" style="height: 350px;" src="{{ dest.img_url }}" alt="">
    <div class="caption">{{dest.description | safe}}</div>
    {% for tag in dest['Tags'] %}
      <a href="" class="label label-lg">{{ tag }}</a>
    {% endfor %}
    <hr>
    <div id="map" style="height: 500px; width: 100%;"></div>
    <hr>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABEVdEk2zQBeCHstcUpXQUkSxPhtmTv0Q&callback=initMap" async defer></script>
<script>
    var lat = {{dest.lat}};
    var lng = {{dest.lng}};
</script>
<script src="/static/js/destination.js"></script>
{% endblock %}


