{% extends 'layout.html' %}
{% set active_page = "destinations" %}


{% block head %}
<link rel = 'import' href = '../static/bower_components/polymer/polymer.html'>
<link rel = 'import' href = '../static/bower_components/polymer/polymer.html'>
<link rel = "import" href = "../static/bower_components/paper-toast/paper-toast.html">
{% endblock %}

{% block body %}
<div class="box-group">
  <div class="box">
    <div class="box-header-text">Recently Added</div>
    <div class="item-group three-wide">
      {% for destination in recent[:3] %}
      <div class='item' style="background-image: linear-gradient(rgba(51, 64, 85, 0.40), rgba(51, 64, 85, 0.40)), url({{ destination.img_url }});">
        <div class="item-header">
          {% if destination.id in explored %}
            <span id="{{ destination.id }}" class="fas fa-check fa-lg exp-full" aria-hidden="true"></span> 
          {% else %}
            <span id="{{ destination.id }}" class="fas fa-check fa-lg" aria-hidden="true"></span> 
          {% endif %}
          {% if destination.id in favorites %}
            <span id="{{ destination.id }}" class="fas fa-star fa-lg star-full" aria-hidden="true"></span> 
          {% else %}
            <span id="{{ destination.id }}" class="far fa-star fa-lg" aria-hidden="true"></span> 
          {% endif %}
        </div>
        <a href="/destination/{{ destination.id }}" class="item-mid">
          <span class="item-title">{{ destination.name }}</span>
        </a>
        <div class="item-footer">
          <a href="/edit_destination/{{ destination.id }}">
              <span class="fas fa-pencil-alt fa-lg" aria-hidden="true"></span>                             
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="footer-text">Explore all {{ "{:,}".format(count) }} destinations...</div>
  </div>
  <div class="box">
    <div class="box-header-text">Most Popular</div>
    <div class="item-group three-wide">
    </div>
  </div>
</div>
<paper-toast id="toast"></paper-toast>

<script src="/static/js/destinations.js"></script>
{% endblock %}
