{% extends 'layout.html' %}
{% from "includes/_formhelpers.html" import render_field %}
{% set active_page = "home" %}

{% block body %}
<div class="welcome box extra-wide-container">
  <section class="left">
    <h2 class="header">Explore the world with <span class="teal">Wanderlist</span></h2>
      <div class="bullet-group">
        <div class="bullet">
          <div class="icon-holder">
            <i class="fas fa-suitcase fa-3x"></i>
          </div>
          <span class="bullet-text">Get travel recommendations</span>
        </div>
        <div class="bullet">
          <div class="icon-holder">
            <i class="far fa-map fa-3x"></i>
          </div>
          <span class="bullet-text">Find new destinations</span>
        </div>
        <div class="bullet">
          <div class="icon-holder">
            <i class="fas fa-globe fa-3x"></i>
          </div>
          <span class="bullet-text">Feed your wanderlust</span>
        </div>
    </div>
  </section>
  <section class="right">
    <h2 class="header large">Sign Up</h2>
    <form action="" method="POST">
      {{ registration_form.hidden_tag() }}
      <div class="form-group">
        <div class="inline-input-group">
          {{render_field(registration_form.first_name, class_="form-control input-lg signup-form")}}
          {{render_field(registration_form.last_name, class_="form-control input-lg signup-form")}}
        </div>
        {{render_field(registration_form.email, class_="form-control input-lg signup-form")}}                
        {{render_field(registration_form.password, class_="form-control input-lg signup-form")}}
      </div>
      <input type="submit" name="submit" class="btn btn-teal btn-lg" value="Create account">
    </form>
  </section>
</div>
{% endblock %}