{% set title = title|default('Wanderlist | Explore More') -%}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="wanderlist" content="Wanderlist">
    <meta name="description" content="Explore the world from your computer!">
    <meta name="google" content="notranslate">
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/styles.min.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>