{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="login welcome box small-container">
  <h2 class="header teal">Log into Wanderlist</h2>
  <form action="" method="POST" class="small-form">
    <div class="form-group">
      {{ form.csrf_token }}
      {{ render_field(form.email, class_="form-control", placeholder="Email") }} <br>
      {{ render_field(form.password, class_="form-control", placeholder="Password") }}
    </div>
    {{render_field(form.login, class_="btn btn btn-block btn-teal")}} <br>
    <a class="link" href="{{ url_for('reset_password_request') }}">Forgot your Password?</a>
  </form>
</div>  
{% endblock %}
