{% extends 'layout.html' %}
{% set active_page = "profile" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/destinations.css">
{% endblock %}

{% block body %}
<div class="header-container">
    <span class="large-header">Explored</span>
</div>
<div class="search-dest-group-box">
    <section class="search-dest-group">
        {% for destination in explored %}
            {% include 'includes/_dest.html' %}
        {% endfor %}
    </section>
</div>

{% endblock %}
