{% extends 'layout.html' %}
{% set active_page = "search" %}
{% set title = "Travelers | Discover" %}

{% block head %}
<link rel = "import" href = '../static/bower_components/polymer/polymer.html'>
<link rel = "import" href = '../static/bower_components/polymer/polymer.html'>
<link rel = "import" href = "../static/bower_components/paper-toast/paper-toast.html">
{% endblock %}

{% block body %}
<div class="extra-wide-container">
  <form action="" method="GET" autocomplete="off">
    <div class="search search-filters" id="basic-search">
      <input class="form-control input-lg search-input" 
              id="location" name="location" 
              autocomplete="off" 
              placeholder="Search by location" 
              {% if location %}value="{{ location }}"{% endif %}>
      <input class="form-control input-lg search-input" 
              id="keywords" name="keywords" 
              autocomplete="off" 
              {% if not keyword %}placeholder="Filter by keywords"{% endif %} 
              {% if keyword %}value="{{ keyword }}"{% endif %} 
              data-input="tagsinput">
      <button class="btn btn-lg search-btn" type="submit">
        <i class="fas fa-search fa-x-lg"></i>
      </button>
    </div>
  </form>
  <div class="box hide">
    <div class="feat-dest-wrapper item-group">
      <img id="feat-dest-img" src="" alt=""></img>   
      <div class="right">
        <h3 class="header">
          <span id="feat-dest-name"></span> - 
          <span id="feat-country-name"></span>
        </h3>
        <span class="body" id="feat-dest-desc"></span>
        <hr>
        <div class="" id="feat-dest-tags"></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="no-results {% if dests|length != 0 %}hidden{% endif %}">No destinations found for your search.</div>
    <span class="teal no-results loading">Loading...</span>
      <div class="item-group five-wide hide">
        {% for dest in dests %}
          <div id ="dest{{ dest.id }}" class='item' style="background-image: linear-gradient(rgba(51, 64, 85, 0.40), rgba(51, 64, 85, 0.40)), url({{ dest.img_url }});">
            <div class="item-header">
              {% if dest.id in explored %}
                <i id="{{ dest.id }}" class="fas fa-check fa-lg exp-full" aria-hidden="true"></i> 
              {% else %}
                <i id="{{ dest.id }}" class="fas fa-check fa-lg" aria-hidden="true"></i> 
              {% endif %}
              {% if dest.id in favorites %}
                <i id="{{ dest.id }}" class="fas fa-star fa-lg star-full" aria-hidden="true"></i> 
              {% else %}
                <i id="{{ dest.id }}" class="far fa-star fa-lg" aria-hidden="true"></i> 
              {% endif %}
            </div>
            <div>
              <a id="{{ dest.id }}" class="item-mid">
                <span class="item-title">{{ dest.name }}</span>
              </a>
            </div>
            <div class="item-footer">
              <a href="/edit_destination/{{ dest.id }}">
                <span class="fas fa-pencil-alt fa-lg" aria-hidden="true"></span>                             
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
</div>

<paper-toast id="toast"></paper-toast>

<script>
  var locationsList = {{ locations | safe }};
  var tagsList = {{ tags | safe }};
</script>
<script src="/static/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap3-typeahead.js"></script>
<script src="/static/bower_components/jquery-smooth-scroll/jquery.smooth-scroll.min.js"></script>
<script src="/static/js/search.js"></script>
<script src="/static/js/destinations.js"></script>

{% endblock %}
