{% extends 'layout.html' %}
{% set links = [
    ('/explored'),
    ('/favorites')
  ] -%}
{% set active_page = "profile" %}

{% block body %}
<div class="box-group wide-container">
    <div class="box">
        <img src="{{ user.avatar(128) }}" alt="">
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    </div>    
    <div class="box">
    <div class="box-header-text">Your Summary</div>
        <div class="circle-group">
            {% for n in range(0,4) %}
            <div class="circle-with-text">
                <div class="circle">
                    <a href="{{ links[n] }}">
                        <p class="stat-number">{{ counts[n] }}</p>
                    </a>
                </div>
                <div class="standard-text">{{ captions[n] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="box">
        <ul class="nav nav-pills nav-justified">
            <li id="all" class="pill-element active"><a>All Destinations</a></li>
            <li id="favorites" class="pill-element"><a>Favorited Destinations</a></li>
            <li id="explored" class="pill-element"><a>Explored Destinations</a></li>
        </ul>
        <div id="map"></div>
    </div>
    <div class="box">
        <div class="box-header-text">Account</div>
        <div class="standard-text">Questions about Travelers or your account? Email the creator at <a class="link">jacobcwebber@gmail.com</a></div>
        <div id="logout"><a class="standard-text link" href="/logout">Logout</a></div>
    </div>
</div>

<script type="text/javascript" src="../static/js/profile.js"></script>
<script>
    // var locations = {{locations | safe}};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABEVdEk2zQBeCHstcUpXQUkSxPhtmTv0Q&callback=initMap" async defer></script>

{% endblock %}
